/* stylelint-disable */
/* eslint-disable @tailwindcss/no-custom-at-rules */
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: theme('colors.gray.50');
  color: theme('colors.gray.900');
  font-family: var(--font-sans);
}
